---
---

@import "{{ site.theme }}";

.page-header {
    background-color: none;
    background-image: none;
    color: #66FCF1;
}

body {
    background: #1F2833;
    color: #C5C6C7;
}

h1 {
    color: #66FCF1;
}

a {
    color: #45A29E;
}